@model CactusUpdateDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cactus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Species.Genus.Id" class="control-label">Genus</label>
                <select asp-for="Species.Genus.Id" class="form-control" asp-items="ViewBag.GenusId">
                    <option disabled>Select one...</option>
                </select>
                <span asp-validation-for="Species.Genus.Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Species.Id" class="control-label"></label>
                <select asp-for="Species.Id" class="form-control" asp-items="ViewBag.SpeciesId">
                    <option disabled>Select one...</option>
                </select>
                <span asp-validation-for="Species.Id" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ForSale" /> @Html.DisplayNameFor(model => model.ForSale)
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="SowingDate" class="control-label"></label>
                <input asp-for="SowingDate" class="form-control" />
                <span asp-validation-for="SowingDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PotSize" class="control-label"></label>
                <input asp-for="PotSize" class="form-control" />
                <span asp-validation-for="PotSize" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
