@using RazorPages
@namespace RazorPages.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a asp-area="Cactuses" asp-page="/Index">
    Cactuses/Index
</a>

<a asp-area="Users" asp-page="/Index">
    Users/Index
</a>
