@model SpeciesCreateDto

@{
    ViewData["Title"] = "Propose new species";
}

<h1>Propose new species</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="GenusId" class="control-label">Genus:</label>
                <select asp-for="GenusId" class="form-control" asp-items="ViewBag.GenusId">
                    <option selected disabled>Select one...</option>
                </select>
                <span asp-validation-for="GenusId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LatinName" class="control-label">Latin name:</label>
                <input asp-for="LatinName" class="form-control" />
                <span asp-validation-for="LatinName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>