@model IEnumerable<SpeciesDto>

@{
    ViewData["Title"] = "Species";
}
<h1>List of species</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a class="btn btn-primary" asp-action="Add">Propose new species</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Latin name:
            </th>
            <th>
                Genus:
            </th>
            <th>
                Approved:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.LatinName
                </td>
                <td>
                    @item.Genus.Name
                </td>
                <td>
                    @item.ApprovalStatus
                </td>
            </tr>
        }
    </tbody>
</table>
