@model UserLoginDto

@{
    ViewData["Title"] = "Log in";
    var returnUrl = @Context.Request.Query["returnurl"];
}

<h1>Log in</h1>

@if (TempData.ContainsKey(MVC.Controllers.UserController.SKEY_REGISTERED)
    && (bool)TempData[MVC.Controllers.UserController.SKEY_REGISTERED])
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <div>
            Successfully registered. Please log in to start using the website.
        </div>
    </div>
}

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnurl="@returnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
